#app4 .circle {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  border: 1px solid #000;
}

@keyframes change {
  0% {
    background: #000;
  }
  100% {
    background: white;
  }
}
#app4 .circle.active {
  animation: change 1s infinite alternate linear;
}
